body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #3c3c84;
	color: #ffffff;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a:active {
  color: #ffffff;
  text-decoration: underline;
}

td {
  padding: 4px;
}